<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  
  <script type="text/javascript" src="/js/landing.js"></script>

  <link rel="stylesheet" href="/css/style.css">


</head>
<body class = "container">
