<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Adamap</title>
  

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

	<script type="text/javascript" src="/js/issues.js"></script>
	<script>UPLOADCARE_PUBLIC_KEY = "demopublickey";</script>
  <script>UPLOADCARE_TABS = 'camera file url facebook instagram gdrive';</script>
  <script src="https://ucarecdn.com/widget/2.3.2/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>
  

  <link rel="stylesheet" href="/styles/style.css">


</head>
<body class = "container">