<% include /partials/header %>

<div id="banner"> 
	<a href="/">
		<img src="/assets/logo146.png" id="logo-banner" alt="ADAmap">
	</a>
	<a href="http://www.ada.gov/" class="banner-content hvr-underline-from-center"> Learn</a>
	<a href="/issues" class="banner-content hvr-underline-from-center" id="banner-issues"> Issues</a>

</div>

<div class="aboutTextBox">
	<h3 class="aboutText">ADA-map is an application that maps and provides a public forum for ADA-related issues. People post issues which other users can then vote on, comment on, and add to. Everything is public. Everyone can see everything.</h3> 

	<h3 class="aboutText">The main goal of ADA-map is to prioritize ADA-related issues. City planners can then use this information to make decisions about where to allocate resources.</h3>

	<h3 class="aboutText">Prioritizing is currently the number one hurdle to ADA accessibility, requiring large amounts of staff and volunteer hours. It is a slow and seemingly endless task. If we can speed up this process and provide a channel for the general public to be more involved in helping at the same time... Well, that would make a lot of sense!</h3>

	<h3 class="aboutText">Welcome to crowd-fueled government!</h3>
</div>

<div>
	<img src="/assets/codeart400.png" id="about-codeArt" alt="logo">
</div>











<% include /partials/footer %>