<% include /partials/header %>

<div id="banner"> 
	<a href="/">
		<img src="/assets/logo146.png" id="logo-banner" alt="ADAmap">
	</a>
	<a href="http://www.ada.gov/" class="banner-content hvr-underline-from-center" target="_blank"> Learn</a>
	<a href="/issues" class="banner-content hvr-underline-from-center" id="banner-issues"> Issues</a>

</div>

<a href="https://github.com/415DomSmith/ADA_Map"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

<div class="aboutTextBox">
	<h3 class="aboutText">ADA-map is an application that maps and provides a public forum for ADA (American Dissabilities Act) related issues. People post issues which other users can then vote on, comment on, and add to.</h3> 

	<h3 class="aboutText">The main goal of ADA-map is to prioritize ADA-related issues. Ideally, city planners could then use this information to make decisions about where to allocate resources.</h3>

	<h3 class="aboutText">Prioritizing is currently the number one hurdle to ADA accessibility, requiring large amounts of staff and volunteer hours. It is a slow and seemingly endless task. If we can speed up this process and provide a channel for the general public to be more involved in helping at the same time... Well, that would make a lot of sense!</h3>

	<h3 class="aboutText">This project was my (Dominic Smith) first full-stack app. It's built on a NodeJS and MongoDB back-end, with some Jquery magic on the front-end. It mainly uses Google API's, and UploadCare for the photo uploads.  </h3>
</div>

	
<div>
	<img src="/assets/codeart400.png" id="about-codeArt" alt="logo">
</div>











<% include /partials/footer %>