<% include ../partials/header %>
<div id="banner"> 
	<a href="/">
		<img src="/assets/logo146.png" id="logo-banner" alt="ADAmap">
	</a>
	<a href="/about" class="banner-content hvr-underline-from-center"> About</a>
	<a href="http://www.ada.gov/" class="banner-content hvr-underline-from-center"> Learn</a>
	<a href="/issues" class="banner-content hvr-underline-from-center" id="banner-issues"> Issues</a>

</div>

<h1 class="errorMsg">
	Sorry, you've either ran in to an error or tried to reach a page that doesn't exist.
</h1>

<img src="/assets/codeart400.png" id="error-codeArt" alt="logo">
<% include ../partials/footer %>