* {
 margin: 0; 
 padding: 0;
}
	

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/*BANNER*/
#banner { 
	position: absolute;
	display: inline-block; 
	top: 0; 
	left: 0; 
	background-color: rgb(38,129,206); 
	width: 100%;
	height: 70px; 
}
.banner-content {
	color: white;
	font-size: 20px;
	font-size: 2.5vw; 
	float: left;
	display: inline-block;
	margin-top: 7px;
	margin-bottom: 5px;
	padding-left: 5vw;
font-weight: bolder;
}
#issues {
	float: right;
	display: inline-block;
	padding-right: 8vw;
	padding-left: 3vw;
} 

#photo-div{
	margin-top: 5px;
	margin-right: 5vw;
	padding-right: 50px; 
	padding-left: 0vw;
	float: right;
	display: flex;
	justify-content: center;
	border-radius: 180px;
	background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 80px;
  border: black 1px solid;
  box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}


/*BODY*/

#main-content { 
}

#map-canvas {
	position: fixed;
	display: inline-block;
	margin-top: 72px;
	height: 85vh;
	width: 60vw;
	margin-bottom: 10px;
}

#issues-box{
	float: right;
	margin-top: 72px;
	margin-right: 1vw;
	position: relative;
	display: inline-block;
	border: solid 1px black;
	z-index: -1;
	width: 38vw;
}