* {
	margin: 0; 
	padding: 0;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: black;
}
	

/*BANNER*/
#banner { 
	position: fixed;
	display: inline-block; 
	top: 0; 
	left: 0; 
	background-color: rgb(38,129,206); 
	width: 100%;
	height: 70px; 
}
.banner-content {
	color: white;
	font-size: 20px;
	font-size: 2.5vw; 
	float: left;
	display: flex;
	display: inline-block;
	margin-top: 17px;
	margin-bottom: 5px;
	margin-left: 5vw;
	/*padding-left: 5vw;*/
	font-weight: bolder;
	text-decoration: none;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

#logo-banner {
	display: flex;
	float: left;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 5px;
	padding-left: 2vw;
	width: 11vw;

}

#banner-login {
	float: right;
	display: inline-block;
	padding-right: 3vw;
	padding-left: 3vw;
	/*display: none;*/

}

#banner-logout {
	float: right;
	display: inline-block;
	padding-right: 3vw;
	padding-left: 3vw;
	/*display: none;*/

}

/*#banner-issues {
	float: right;
	display: inline-block;
	padding-right: 3vw;
	padding-left: 3vw;
} 
*/
#photo-div{
	margin-top: 5px;
	margin-right: 5vw;
	padding-right: 50px; 
	padding-left: 0vw;
	float: right;
	display: flex;
	justify-content: center;
	border-radius: 180px;
	background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 80px;
  border: black 1px solid;
  box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}


/*BODY*/



#main-content { 
	padding-top: 100px;	
	padding-left: 10px;
	padding-right: 10px;
}

#form-control {
	width: 300px;
	display: inline; 
}

#issueSearch {
	width: 140px;
  margin: 5em auto;
  padding: 0 25px;
  border: 1px solid #dcdcdc;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: inline; 
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,.15);
  box-shadow: 0 0 8px rgba(0,0,0,.15);
}

#issueSearch input {
  border: 0;
  width: 140px;
  padding: 0;
  height: 28px;
  line-height: 28px;
}

#issueSearch input:focus {
  outline: 0;
}

#issue-search {
	margin-left: 20px;

	
}

.issBtn {
	display: inline; 
  background: #3fa3f5;
  background-image: -webkit-linear-gradient(top, #3fa3f5, #2681CE);
  background-image: -moz-linear-gradient(top, #3fa3f5, #2681CE);
  background-image: -ms-linear-gradient(top, #3fa3f5, #2681CE);
  background-image: -o-linear-gradient(top, #3fa3f5, #2681CE);
  background-image: linear-gradient(to bottom, #3fa3f5, #2681CE);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 2px 1px 3px #666666;
  -moz-box-shadow: 2px 1px 3px #666666;
  box-shadow: 2px 1px 3px #666666;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 13%;
}

.issBtn:hover {
  background: #1e90d6;
  background-image: -webkit-linear-gradient(top, #1e90d6, #105d91);
  background-image: -moz-linear-gradient(top, #1e90d6, #105d91);
  background-image: -ms-linear-gradient(top, #1e90d6, #105d91);
  background-image: -o-linear-gradient(top, #1e90d6, #105d91);
  background-image: linear-gradient(to bottom, #1e90d6, #105d91);
  text-decoration: none;
}

/*ISSUES PAGE TABLES*/

#issues-box-left {
	margin-top: 30px;
	margin-left: 5px;
	margin-top: 0px;
	float: left;
	width: 47vw;
	height: 80vh;
	overflow: auto;	
	display: inline;
}

#issues-box-right {
	margin-top: 0px;
	margin-right: 1px;
	float: right;
	width: 47vw;
	height: 80vh;
	overflow: auto;	
	display: inline;
}




table {
  color: #333;
  font-size: .9em;
  font-weight: 300;
  text-align: left;
  line-height: 30px;
  border-spacing: 0;
  border: 1px solid #428bca;
  width: 43vw;
  height: 80%;
  margin: 20px auto;
  
}

thead tr:first-child {
  background: rgb(38,129,206);
  color: #fff;
  border: none;
  width: 100%;

}

th {
	font-weight: bold;

}

th:first-child, td:first-child {
	padding: 0 5px 0 5px;
}

thead tr:last-child th {
	border-bottom: 2px solid #ddd;
}

tbody tr:hover {
	background-color: #f0fbff;
}
tbody tr:last-child td {
	border: none;
}
tbody td {
	border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: center;
  padding-right: 5px;
}

.issueBox-img {
	margin-right: 1px;
}

.issueBox-col1 {

}

.issueBox-col2 {
	line-height: 20px;
	
}

.issueBox-col3 {
	width: 80px;
	line-height: 20px;
	
}

.issueBox-img {
	margin-right: 1px;
}

.issueBox-num {
	white-space: nowrap;
}

.issueBox-user {
	margin-top: 15px;
	padding-top: 10px;
}

.issueBox-votes {
	font-weight: bold;
}

.issueBox-date{
	padding-top: 5px;
}


/*LOGIN PAGE*/

.login-container {

margin-left: 40vw;
margin-top: -25px;
}

.form-group {
	font-weight: bold;
	padding-bottom: 5px;
}

.loginBtn {

	margin-left: 220px;
	margin-top: -170px;
}

#login-codeArt{
	margin-top: 30px;
	width: 20vw;
	height: 20vl;
}

/*PROFILE PAGE*/

#profile-issues-box{
	margin-top: 20px;
	margin-left: 25vw;
	margin-top: 0px;
	float: left;
	width: 47vw;
	height: 80vh;
	overflow: auto;	
	display: inline;

}

.well {
	margin-top: 40px;
	margin-left: 40px;
}

.prof {
	margin-left: 10px;
}

/*NEW ISSUE PAGE*/

.newPageCont {
	margin-left: 40px;
	margin-top: -10px;
}

.instructions {
	position: absolute;
	margin-left: 640px;
	display: inline;
	height: 150px;
	width: 300px;
	border: solid 2px rgb(38,129,206);
	font-size: 12px;
}

.inst-text {
	display: inline-block;
	width: 150px;
	padding-left: 18px;
}
li {
	padding-top: 4px;
	padding-bottom: 4px;
}

.instrucGif {
	position: absolute;
	display: inline-block;
	margin-top: 15px;
	margin-left: 10px;
}


/*MAP STUFF*/

#map-canvas {

	position: absolute;
	display: inline;
	margin-top: 163px;
	height: 280px;
	width: 45vw;
	margin-left: 500px;
	margin-bottom: 10px;
	border: solid 2px rgb(38,129,206);
}

#loader-container {
	background-color: rgba(38,129,206,0.7); 
  width: 200px;
  height: 200px;
  color: white;
  margin: 0 auto;
  position: absolute;
  margin-top: 300px;
  margin-left: 780px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 5px solid #3498db;
  border-radius: 50%;
  -webkit-animation: borderScale 1s infinite ease-in-out;
  animation: borderScale 1s infinite ease-in-out;
  z-index: 2;
  display: none;
}

#loadingText {
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes borderScale {
  0% {
    border: 5px solid white;
  }
  50% {
    border: 25px solid #3498db;
  }
  100% {
    border: 5px solid white;
  }
}

@keyframes borderScale {
  0% {
    border: 5px solid white;
  }
  50% {
    border: 25px solid #3498db;
  }
  100% {
    border: 5px solid white;
  }
}

#locate-me {
	position: absolute;
	background-color: white;
	display: inline-block;
	margin-top: 170px;
	font-size: .7em;
	width: 80px;
	height: 26px;
	margin-left: 600px;
	-webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 0 8px rgba(0,0,0,.15);
  -moz-box-shadow: 1px 0 8px rgba(0,0,0,.15);
  z-index: 2;
}

#issue-description {
	display: inline;	
}

#issue-input {
	display: inline;	
}

.form-inline {
	display: inline;
}

.submit-button {
	margin-right: 600px;
}

#address {
	font-size: 18px;
	margin-bottom: 10px;
}

#city {
	font-size: 18px;
	width: 160px;		
}

#state {
	font-size: 18px;
	width: 33px;
}

#description {
	font-size: 18px;
}

#title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}


/*SHOW PAGE*/


#show-main-content {
	margin-left: 30px;
	margin-top: 80px;
}

.issTitle {
text-align: center;
padding-top: 20px;
padding-bottom: 20px;	
}

.issNum {
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
}

.issVotes {
	position: absolute;
	margin-left: 690px;
	margin-top: -30px;
}

.thumbsUp {
	position: absolute;
	margin-left: 890px;
	margin-top: -45px;
}

.issAddress {

}

.issImage {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 200px;
	height: 300px;
	width: 300px;
	display: inline-block;
	border: 3px solid rgb(38,129,206);
}

.issImageBox {

}
.issCreated {

}

.issueDescriptionBox {
position: absolute;
display: inline-block;
margin-left: 684px;
margin-top: -330px;
border: 3px solid rgb(38,129,206);
width: 300px;
height: 300px;
overflow: hidden;
}

.descripText{
	font-weight: normal;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

/*ERROR PAGES*/

#error-codeArt {
	margin-top: 60px;
	margin-left: 35%;
	margin-right: -50%;
}

.errorMsg {
	margin-top: 100px;
	margin-left: 10px;
}