* {
	margin: 0; 
	padding: 0;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: black;
}
	

/*BANNER*/
#banner { 
	position: fixed;
	display: inline-block; 
	top: 0; 
	left: 0; 
	background-color: rgb(38,129,206); 
	width: 100%;
	height: 70px; 
}
.banner-content {
	color: white;
	font-size: 20px;
	font-size: 2.5vw; 
	float: left;
	display: flex;
	display: inline-block;
	margin-top: 17px;
	margin-bottom: 5px;
	padding-left: 5vw;
	font-weight: bolder;
	text-decoration: none;
}

#logo-banner {
	display: flex;
	float: left;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 5px;
	padding-left: 2vw;
	width: 11vw;

}

#banner-login {
	float: right;
	display: inline-block;
	padding-right: 3vw;
	padding-left: 3vw;
	/*display: none;*/

}

#banner-logout {
	float: right;
	display: inline-block;
	padding-right: 3vw;
	padding-left: 3vw;
	/*display: none;*/

}

#banner-issues {
	float: right;
	display: inline-block;
	padding-right: 3vw;
	padding-left: 3vw;
} 

#photo-div{
	margin-top: 5px;
	margin-right: 5vw;
	padding-right: 50px; 
	padding-left: 0vw;
	float: right;
	display: flex;
	justify-content: center;
	border-radius: 180px;
	background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 80px;
  border: black 1px solid;
  box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}


/*BODY*/


#main-content { 
	padding-top: 100px;	
	padding-left: 10px;
	padding-right: 10px;
}

#form-control {
	width: 300px;
	display: inline; 
}

#issueSearch {
	width: 140px;
  margin: 5em auto;
  padding: 0 25px;
  border: 1px solid #dcdcdc;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: inline; 
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,.15);
  box-shadow: 0 0 8px rgba(0,0,0,.15);
}

#issueSearch input {
  border: 0;
  width: 140px;
  padding: 0;
  height: 28px;
  line-height: 28px;
}

#issueSearch input:focus {
  outline: 0;
}

#issue-search {
	margin-left: 20px;

	
}

.issBtn {
	display: inline; 
  background: #3fa3f5;
  background-image: -webkit-linear-gradient(top, #3fa3f5, #2681CE);
  background-image: -moz-linear-gradient(top, #3fa3f5, #2681CE);
  background-image: -ms-linear-gradient(top, #3fa3f5, #2681CE);
  background-image: -o-linear-gradient(top, #3fa3f5, #2681CE);
  background-image: linear-gradient(to bottom, #3fa3f5, #2681CE);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 2px 1px 3px #666666;
  -moz-box-shadow: 2px 1px 3px #666666;
  box-shadow: 2px 1px 3px #666666;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 25%;
}

.issBtn:hover {
  background: #1e90d6;
  background-image: -webkit-linear-gradient(top, #1e90d6, #105d91);
  background-image: -moz-linear-gradient(top, #1e90d6, #105d91);
  background-image: -ms-linear-gradient(top, #1e90d6, #105d91);
  background-image: -o-linear-gradient(top, #1e90d6, #105d91);
  background-image: linear-gradient(to bottom, #1e90d6, #105d91);
  text-decoration: none;
}

/*TABLES*/

#issues-box-left {
	margin-top: 30px;
	margin-left: 5px;
	margin-top: 0px;
	float: left;
	width: 47vw;
	height: 80vh;
	overflow: auto;	
	display: inline;
}

#issues-box-right {
	margin-top: 0px;
	margin-right: 1px;
	float: right;
	width: 47vw;
	height: 80vh;
	overflow: auto;	
	display: inline;
}




table {
  color: #333;
  font-size: .9em;
  font-weight: 300;
  text-align: left;
  line-height: 30px;
  border-spacing: 0;
  border: 1px solid #428bca;
  width: 43vw;
  height: 80%;
  margin: 20px auto;
  
}

thead tr:first-child {
  background: rgb(38,129,206);
  color: #fff;
  border: none;
  width: 100%;

}

th {
	font-weight: bold;

}

th:first-child, td:first-child {
	padding: 0 5px 0 5px;
}

thead tr:last-child th {
	border-bottom: 2px solid #ddd;
}

tbody tr:hover {
	background-color: #f0fbff;
}
tbody tr:last-child td {
	border: none;
}
tbody td {
	border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: center;
  padding-right: 5px;
}

.issueBox-img {
	margin-right: 1px;
}

.issueBox-col1 {

}

.issueBox-col2 {
	line-height: 20px;
	
}

.issueBox-col3 {
	width: 80px;
	line-height: 20px;
	
}

.issueBox-img {
	margin-right: 1px;
}

.issueBox-num {
	white-space: nowrap;
}

.issueBox-user {
	margin-top: 15px;
	padding-top: 10px;
}

.issueBox-votes {
	font-weight: bold;
}

.issueBox-date{
	padding-top: 5px;
}