<% include ../partials/header %>

<div id="banner"> 
	<a href="/">
		<img src="/assets/logo146.png" id="logo-banner" alt="ADAmap">
	</a>
	<a href="/" class="banner-content hvr-underline-from-center"> About</a>
	<a href="http://www.ada.gov/" class="banner-content hvr-underline-from-center"> Learn</a>
	<% if (currentUser !== ""){ %>
	<a href="/profile">
		<div class="banner-content" id="photo-div" style='background-image: url(/assets/DefaultPersonPhoto.png);'></div>
	</a>
	<% } %>
	<% if (currentUser == ""){ %>
 		<a href="/login" class="banner-content hvr-underline-from-center" id="banner-login"> Login</a>
	<% } else { %>
		<a href="/logout" class="banner-content hvr-underline-from-center" id="banner-logout"> Logout</a>
	<% } %>
	<a href="/issues" class="banner-content hvr-underline-from-center" id="banner-issues"> Issues</a>

</div>

<div id="main-content">

	

</div>






<% include ../partials/footer %>